@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fonts);
  background-color: var(--background);
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #080808;
  --secondary: #b6b6b6;
  --primary: #ffffff;
  --accent: #cd2026;
  --padding: 0 10%;
  --fonts: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button,
.button {
  background: var(--accent);
  padding: 12px 16px;
  color: var(--background);
  border: none;
  appearance: none;
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* Highlight */

::selection {
  background: #cd202640;
}

/* Links */

.link {
  color: var(--accent);
}

.underline {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
}

.underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--accent);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

span.underline {
  cursor: auto;
}

.img-responsive {
  width: 50%;
  padding: 24px;
}

/* Header */

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  height: 12vh;
  border: 1px solid var(--secondary);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 12px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

/* Footer */

footer {
  display: flex;
  padding: var(--padding);
  justify-content: space-between;
  border: 1px solid var(--secondary);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 20vh;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

footer ul li {
  display: flex;
  align-items: center;
  margin: 0 12px;
  width: auto;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials a img {
  width: 24px;
  margin: 0 12px;
}

/* General */

section {
  min-height: 60vh;
  padding: var(--padding);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8vh;
}

section div {
  width: 50%;
}

/* Contact */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

form > input,
textarea {
  width: 100%;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
}

form > input,
textarea,
button {
  margin: 8px 0;
}

form textarea {
  font-family: var(--fonts);
  resize: none;
  height: 20vh;
}

/* Services */

.services-section {
  flex-direction: column;
}

.services-section > div {
  width: 100%;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-card {
  width: 33%;
}

/* Media Queries */

@media screen and (max-width: 980px) {
  .mobile-menu {
    display: block;
  }
  .menu-open {
    display: flex;
  }
  header ul {
    display: none;
    position: fixed;
    width: 100%;
    top: 12vh;
    margin: 0;
    left: 0;
    height: 88vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--background);
    z-index: 5;
  }
  header ul li {
    margin: 20px 0;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background);
    height: auto;
  }
  footer ul li {
    margin: 0 24px 0 0;
  }
  .footer-socials {
    justify-content: flex-start;
  }
  .footer-socials a img {
    margin: 0 24px 0 0;
  }
  section {
    flex-direction: column;
  }
  section div {
    width: 100%;
  }
  form {
    width: 100%;
  }
  .services-card {
    width: 100%;
  }
}
