@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  min-height: 80vh;
}

.project-content > video {
  width: 100%;
  aspect-ratio: 16/ 9;
  margin-top: 1rem;
}

.heading {
  width: max-content;
  padding-bottom: 2px;
  margin-bottom: 4px;
  border-bottom: 3px solid red;
}
